/* Mobile first design */
/* Reset */
*, html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Body */
body {
  font-family: Georgia, serif;
  color: #707070;
}

/* h1 */
h1 {
  font-size: 64px;
  color: #000000;
}

/*p */
p {
  margin-bottom: 15px;
}

/*img*/
img {
  width: 100%;
}

/* hamburger menu*/
#menuicon {
  width: 30px;
  height: 30px;
  position: fixed;
  right: 30px;
  top: 18px;
  /* Styling stroke color svg*/
}

#menuicon svg {
  fill: none;
  stroke: #ffffff;
  stroke-width: 3;
  stroke-linecap: square;
}

/* Logo*/
#logo {
  color: #ffffff;
  font-size: 30px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  left: 30px;
  top: 14px;
  position: absolute;
}

/* Black sidebar/top header*/
#platta {
  background-color: #000000;
  width: 100vw;
  height: 60px;
}

/* main container */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  margin-bottom: 70px;
  /* main content */
}

.container .main-content {
  margin: 0 16px;
  /* nav*/
  /* border*/
  /* section*/
  /*main*/
}

.container .main-content nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding: 21px 0;
  color: #000000;
}

.container .main-content .border {
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
}

.container .main-content section {
  /* h1 */
}

.container .main-content section h1 {
  padding: 30px 0;
}

.container .main-content main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /*article*/
  /*aside*/
}

.container .main-content main article {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin: 20px 0;
  /*p*/
}

.container .main-content main article p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.container .main-content main aside {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin: 20px 0;
  padding: 20px 0;
  font-size: 18px;
  /* p bold text */
}

.container .main-content main aside .pbold {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  margin-bottom: 3px;
  font-size: 18px;
}

/* Screen min width 768px*/
@media only screen and (min-width: 768px) {
  /* Main container*/
  .container {
    max-width: 900px;
    /* Main content */
  }
  .container .main-content {
    /*main*/
  }
  .container .main-content main {
    /*aside*/
    /* article */
  }
  .container .main-content main aside {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    margin: 30px 0;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
  .container .main-content main article {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
    margin: 30px 10% 30px 0;
  }
}

/*Screen min width 1400px*/
@media only screen and (min-width: 1400px) {
  /* menu icon*/
  #menuicon {
    top: 30px;
    /* svg stroke color*/
  }
  #menuicon svg {
    stroke: #000000;
  }
  /* Black sidebar/top header*/
  #platta {
    position: absolute;
    width: 60px;
    height: 100vh;
    z-index: 3;
  }
  /* logo */
  #logo {
    z-index: 5;
    left: 20px;
  }
  /* h1 */
  h1 {
    font-size: 100px;
    letter-spacing: 2px;
  }
}
/*# sourceMappingURL=style.css.map */