$breakpoint-phone: 480px; /* Variabel för brytpunkt mellan mobilskärm och tablet */
$breakpoint-tablet: 900px; /* Variabel för brytpunkt mellan tablet och laptop */

*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

img{
    width: 100%;
}
body{
    background-color: #eeeeee;
    color: rgb(106,97,104);
}

#menu_icon { 
    position: fixed; /* Fixerad meny icon*/
    top: 30px;
    left: 30px;

    @media (min-width: $breakpoint-tablet) {
        top: 30px;
        left: 100px;
        
    }
}

main {
    max-width: 1200px;
    margin: auto;
    padding-top: 50px;
    .img_grid {
        display: flex;
        flex-wrap: wrap;
        margin: 30px;

        @media (min-width: $breakpoint-tablet) {
            margin: 30px 100px;
            
        }

        .img_wrapper{
            flex: 0 0 100%;
            margin-bottom: 4%;
            background-color: #fff;
            position: relative;

            @media (min-width: $breakpoint-phone) {
                flex: 0 0 48%;
                
            }

            @media (min-width: $breakpoint-tablet) {
                flex: 0 0 30%;
                margin-bottom: 5%;
                margin-right: 5%;
                
            }

            &.img_wrapper:nth-child(odd) { 
                @media (min-width: $breakpoint-phone) and (max-width: $breakpoint-tablet) {
                    margin-right: 4%; /* Enbart kortet med udda nurering (1, 3, 5..) får margin rigth   */
                }
               
            }

             &.img_wrapper:nth-child(3n+3) {
                @media (min-width: $breakpoint-tablet) {
                    margin-right: 0;/* Var tredje kort har margin 0 på högersida */
                }
            }

            .rounded_img{
                position: absolute; /* Absolute positionering */
                width: 50px; /* För att border-radius: 50% ska fungera måste höjd och bredd vara lika.*/
                height: 50px;
                top: 10px;
                left: 10px;
                box-shadow: 5px 5px 5px rgba(0,0,0, 0.5); /* Skugga runt bilden */
                border-radius: 50%;
            }

            header {
                display: flex;
                justify-content: space-around;
                padding: 10px 10px;
                border-radius: 0 0 5px 5px;
                font-size: 0.8rem;
                
                .icon_holder {
                    display: flex;
                    flex: 0 0 25%;
                    align-items: center;
                    
                    p {
                        padding-left: 5px;
                        font-weight: 500;
                        letter-spacing: 0.5px;   
                    }

                    &.icon_holder:last-child{
                      justify-content: flex-end; /* Placerar save längst till höger i headern*/
                      flex: 0 0 50%;
                  }   

                }
            }
        }
    }
}