/* Jag designar denna med mobile first approach*/

/* Reset */
*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
body {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 100%;
}

/* H1 */
h1 {
    font-family: 'Charm', cursive;
    font-size: 4rem;
    margin-bottom: 5px;
    text-align: center;
}

/* H2 */
h2 {
    font-family: 'Nanum Gothic', sans-serif;
    margin-bottom: 5px;
    font-size: 1.2rem;
    text-align: center;
}

/* H3 */
h3 {
    font-family: 'Charm', cursive;
    font-size: 1.6rem;
    margin-bottom: 15px;
}

/* p */
p {
    font-size: 1rem;
    margin-bottom: 10px;
    line-height: 1.4;
}

/* img */
img {
    width: 100%;
}

/* container */
.container {

    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;

    /* section */
    section {

        flex: 0 0 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;

        /* #a3 */
        &#a3{
            background-color: #FAFDF8;
        }
        
        /* figcaption */
        figcaption {
            max-width: 400px;
            margin: 10px 20px;
        }
        /* article */
        article {

            max-width: 400px;
            margin: 20px 20px;
            height: 100%;

            /* #heading */
            &#heading {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 40px 0;
            }
            
        }
        
 
    }

}

/* Style screens wider than 786px */
@media only screen and (min-width: 768px) {
    .container {
        section {
            flex: 0 0 50%;

           
        }
    }
}

/* Style screens wider than 1400px */
@media only screen and (min-width: 1400px) {
    .container {
        section {
            flex: 0 0 33.3333%
        }
    }
}